<div class="ui labeled icon inverted teal menu">
  <a class="item" href="/chat">
    <i class="chat icon"></i>
    Chat Room
  </a>
  <a class="item" href="/profile">
    <i class="user icon"></i>
    Profile
  </a>
  <div class="right menu">
    <a class="item" href="/auth/logout">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
</div>
