<% include partials/menu %>

<div class="chat-section">
  <div class="ui container grid">

    <!-- Members List Section -->
    <div class="four wide column">
      [ TODO chat-users ]
    </div>

    <div class="twelve wide column">

      <!-- Chat Messages -->
      [ TODO chat-messages ]

      <hr>

      <!-- Chat Post -->
      [ TODO chat-post ]

    </div>
  </div>
</div>
