<div class="banner">
  <div class="ui segment teal inverted">
    <h1 class="ui center aligned icon header">
      <i class="chat icon"></i>
      <div class="content">
        <a href="/">Sails Chat</a>
        <div class="sub header">Discuss your favorite technology with the commmunity!</div>
      </div>
    </h1>
  </div>
</div>
<div class="section">
  <div class="ui three column grid">
    <div class="column"></div>
    <div class="column">
      <div class="ui centered padded compact raised segment">
        <h3>Sign Up or Sign In</h3>
        <div class="ui divider"></div>
        <% include partials/auth-form.ejs %>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>
